<div class="wrapper">

<form class="form-container" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password">
    </div>
    <p *ngIf="errorString" class="error">Error: {{this.errorString}}</p>
    <button type="submit">Login</button>

    
  </form>

</div>